body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  background-repeat: no-repeat;
  background: linear-gradient(rgba(23, 35, 49, 0.95), rgba(23, 35, 49, 0.95)),
    no-repeat,
    url('https://www.atg.se/services/cms/img/9351c0f597cca62ae6d76a4f49836f78018bc249ff835d4c3419f9795b30f7b9/e48b3bea-34cc-4a07-a0da-10a33e61fc4a/Atg%20Logga.png');
}

#root {
  width: 100%;
  max-width: 700px;
}

input[type='search'] {
  border: 1px solid #ddd;
  outline: none;
}
input[type='submit'] {
  border: 1px solid #ddd;
  outline: none;
}

li:hover {
  background: #d5d5d2;
}
